
body{
    width: 1278px;
height: 1819px
}

.content{
    background-color:#445162 ;
}
.fa-check{
    padding: 0 10px;
}

.wpaper{
    margin:0 auto;
   
  
    max-width: 1280px;
    height: 323px;
}
.cont{

    padding: 50px 50px;
    display: flex;
    justify-content: space-between;
    
}
.hi{
font-family: Arial;
font-size: 60px;
line-height: 1.2;
font-weight: 400;
text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
color: #ffffff;

margin: 0 0 20px 0;

}
.hi_cont{
    flex: 1 1 190px;
}
.img_cont{
    flex: 0 0 469px

}


.hi_list{
    

li{
    
font-family: Arial;
font-size: 20px;
line-height: 36px;
font-weight: 400;
text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
color: #ffffff;


}
}

//--------------------------- about section------------------------------------
.about_sect {
margin: 0px auto;
display: flex;
flex-direction: column;

}
.about {
    display: flex;
    padding: 39px 50px;
}
.about_img {
    flex: 0 0 430px;
img{
max-width: 100%;
  }  
}
.what_about {
 
    padding: 0 0 0 38px;
}
.title_about {
    font-family: Arial;
font-size: 30px;
line-height: 36px;
font-weight: 400;
color: #445161;
padding-bottom: 33px;
}
.text_about {
    font-family: Arial;
font-size: 16px;
line-height: 24px;
font-weight: 400;
color: #333333;

p:last-child{
    margin: 25px 0;
}
}

// ---------------------columns flex------------------------
.columns_flex{
    background: #f5f5f5;
    
}
.Columns_title{
    text-align: center;
    font-family: Arial;
font-size: 30px;
line-height: 36px;
font-weight: 400;
color: #445161;
margin-top: 48px;
margin-bottom: 31px;
}
.items {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 50px ;
    
}
.item {
    
    display: flex;
    
    
    margin: 0 0px 30px 1px;
    &:nth-child(n+1){
        padding-left: 10px;
    }
  
}

.item_img {
    flex: 0 0 200px;
}
.item_text {
    flex: 1 1 auto;
    padding: 0 0 0 15px;
    width: 360px;
}
.item_title {
    font-family: Arial;
font-size: 24px;
line-height: 30px;
font-weight: 400;
color: #445161;
}
.item_txt {
    font-family: Arial;
font-size: 16px;
line-height: 24px;
font-weight: 400;
color: #333333;


}


// _____________________________vertical alignment______________________ 

.vertical_alignment {
padding: 50px 50px;
}
.vertical_title {
    text-align: center;
    margin-bottom: 30px;
    font-family: Arial;
font-size: 30px;
line-height: 36px;
font-weight: 400;
color: #445161;
}
.vertical_body {
    max-width: 997px;
    margin: 0px auto;
}

.vertical_items {
    display: flex;
  margin: 0 -22.5px;
}

.vertical_item {
    flex: 0 1 33,333%;
    padding: 0 22.5px;
    display: flex;
}
.item_body{
    display: flex;
    flex-direction: column;
    width: 300px;
    background: #445162;
    border-radius: 5px;
    color: #fff;
    
    border: 2px solid  #445162 ;
}
.subtitle {
    
    text-align: center;
    font-family: Arial;
font-size: 24px;
line-height: 30px;
font-weight: 400;
text-transform: uppercase;
padding: 12px 0;

}
.subtitle2 {
    text-align: center;
    background: #fff;
font-family: Arial;
font-size: 40px;
line-height: 30px;
font-weight: 400;
color: #445162;
height: 70px;
padding-bottom: 25px;
padding-top: 19px;
}
.vertical_text  {
    padding: 20px 20px;
    font-size: 14px;
line-height: 24px;
font-weight: 400;
flex:1 1 auto
}
.vertical_text p {
    
margin: 0 0 15px 0;
&:last-child{
    margin: 0;
}
}


.vertical_btn {
    background-color: #fff;
    border-radius: 4px;
  
    height: 40px;
    margin: 0px 20px 20px ;
    font-family: Arial;
font-size: 18px;
line-height: 18px;
font-weight: 700;
color: #445161;
display: block;
padding-top: 14px;

text-align: center;
}

//----------- footer---------------------
footer{
    background-color: #f5f5f5;
}
.footer_text{
    display: flex;
height: 65px;
justify-content: center;
padding: 31px 0;


font-family: Arial;
font-size: 12px;
line-height: 24px;
font-weight: 400;
letter-spacing: 0.025em;
color: #445162;
}